<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading ">
            <a href="https://fixxiapp.com/" target="_blank">
                <img src="/assets/img/logo_web.png" class="img-fluid" alt="" style="width: 140px;">
            </a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action px-3" href="/dashboard/inicio">
                <i class="fas fa-fw fa-tachometer-alt"></i> 
                <span>Dashboard</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" href="/dashboard/mis-datos">
                <i class="fas fa-user-edit"></i> 
                <span>Mis datos</span>
            </a>

            <!-- Inicio Bloque solo visible a usuarios con status REGISTRADO -->
            <div *ngIf="checarStatus(estatus_del_usuario)">

                <!-- Divider -->
                <hr class="sidebar-divider">

                <a class="list-group-item list-group-item-action px-3" href="/dashboard/contratos">
                    <i class="far fa-file-alt"></i> 
                    <span>Contratos</span>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <a class="list-group-item list-group-item-action px-3" href="/dashboard/datos-bancarios">
                    <i class="fas fa-money-check-alt"></i> 
                    <span>Datos bancarios</span>
                </a>

            </div>

            <!-- Fin de bloque -->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" (click)="onLogout()">
                <i class="fas fa-sign-out-alt"></i> 
                <span>Salir</span>
            </a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
            <div class="container-fluid">
                <!--<button class="btn btn-primary d-block d-sm-none" data-bs-toggle="collapse" id="sidebarToggle">Menu</button>-->
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0 d-block d-sm-none">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/inicio">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/mis-datos">MIS DATOS</a>
                        </li>
                        <div *ngIf="checarStatus(estatus_del_usuario)">
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/contratos">CONTRATO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard/datos-bancarios">DATOS BANCARIOS</a>
                            </li>
                        </div>
                    </ul>
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" (click)="onLogout()">SALIR</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid dash-content">

            <div class="row rounded shadow-lg py-2 mt-5 mx-4">
                <div class="col-md-3 justify-content-center">
                    <div class="text-center">
                        <img alt="{{nombre_usuario}} {{apellido_usuario}}" [src]="prev_avatar" class="rounded-circle img-responsive mt-2" width="128" height="128" />

                        <!--<small>For best results, use an image at least 128px by 128px in .jpg format</small>-->
                        
                    </div>
                    <div class="d-flex justify-content-center mt-2">

                        <div *ngIf="checarStatus(estatus_del_usuario); else elseBlockbtn">
                            <span class="badge bg-success">{{estatus_del_usuario}}</span>
                        </div>
                        <ng-template #elseBlockbtn>
                            <span class="badge bg-warning">{{estatus_del_usuario}}</span>
                        </ng-template>
                        
                    </div>

                    
                    
                </div>
                <div class="col-md-9">
                    <h4 class="pb-2">{{nombre_usuario}} {{apellido_usuario}}</h4>
                    <hr>
                    <p class="mb-1">{{tel_user}}</p>
                    <p class="mb-1">{{mail_user}}</p>
                    <p>{{county_user }}, {{city_user}}</p>
                </div>
            </div>

            
            <div *ngIf="checarStatus(estatus_del_usuario); else elseBlock">

                <!-- Aqui vamos a poner codigo de avisos y esas cosas cuando el usuario este registrado -->
                <div class="row rounded shadow-lg py-3 px-2 mt-5 mx-4">
                    <div class="col-md-12 ">
                        <div class="alert alert-info" role="alert">
                            <b>Bienvenido</b>
                          </div>
                        <p>Ya estas listo para disfrutar de la experiencia de Fixxi App, agradecemos la confianza que nos has brindado y esperemos que tu tiempo aqui
                            puedas crecer de forma profesional.
                        </p>
                    </div>
                
                </div>

            </div>

            <!-- Inicio Bloque solo visible a usuarios que NO estan con REGISTRADO -->
            <ng-template #elseBlock>

                <div class="row rounded shadow-lg py-3 px-2 mt-5 mx-4">
                    <div class="col-md-12 ">
                        <div class="alert alert-danger" role="alert">
                            <b>Aviso importante</b>
                          </div>
                        <p>Estimado usuario le recordamos que para poder pertenecer al equipo de Fixxi App debe completar su información personal misma que puede 
                            llenar en el formulario que esta en la seccion de <a href="/dashboard/mis-datos">Mis Datos</a>.</p>
                    </div>
                
                </div>
            </ng-template>

            

        </div>
    </div>
</div>
