<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading ">
            <a href="https://fixxiapp.com/" target="_blank">
                <img src="/assets/img/logo_web.png" class="img-fluid" alt="" style="width: 140px;">
            </a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action px-3" href="/dashboard/inicio">
                <i class="fas fa-fw fa-tachometer-alt"></i> 
                <span>Dashboard</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" href="/dashboard/mis-datos">
                <i class="fas fa-user-edit"></i> 
                <span>Mis datos</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" href="/dashboard/contratos">
                <i class="far fa-file-alt"></i> 
                <span>Contratos</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" href="/dashboard/datos-bancarios">
                <i class="fas fa-money-check-alt"></i> 
                <span>Datos bancarios</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" (click)="onLogout()">
                <i class="fas fa-sign-out-alt"></i> 
                <span>Salir</span>
            </a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
            <div class="container-fluid">
                <!--<button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" (click)="onLogout()">SALIR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid dash-content">
            
            <div class="row py-3">

                <div class="col-md-8">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">¡Hola {{nombre_usuario}} {{apellido_usuario}}!</h4>
                        <p>En esta sección puedes descargar tu contrato para que lo imprimas y lo revises cuidadosamente, después fírmalo y adjuntalo en el campo 
                            siguiente para que nuestro equipo pueda revisarlo.</p>
                        <hr>
                        <p class="mb-0">Revisa que tus datos sean los correctos.</p>
                      </div>
                </div>

                <div class="col-md-8 mb-4 mx-2 p-3 bg-white rounded shadow-lg">
                    <h3 class="py-1">Mi Contrato</h3>
                    <button (click)="generatePDF()" class="btn btn-primary shadow-sm">Descarga tu contrato <i class="fas fa-cloud-download-alt"></i></button>
                </div>

                <div class="col-md-8 mb-4 mx-2 p-3 bg-white rounded shadow-lg" *ngIf="sihaycontrato(); else elseContrato" >
                    <h4>Ya has subido tu contrato, si quieres verlo da click en el botón</h4>
                        <a href="https://dashboard.fixxiapp.com/web/uploads/files/{{nombContrato}}" 
                        class="btn btn-primary my-3" 
                        style="font-size: .8em;" 
                        target="_blank">Ver tu Contrato</a>
                </div>

                <ng-template #elseContrato>

                </ng-template>

                <div class="col-md-8 mx-2 p-3 bg-white rounded shadow-lg">
                    
                    <h4 class="col pb-3">Sube tu contrato firmado</h4>
                    
                    <form class="form-data-bank" [formGroup]="subirContrato" (ngSubmit)="onUpdate(subirContrato.value)">

                        <div class="col mb-3">
                            <input  type="file" class="form-control" (change)="onFileChange($event)">
                        </div>

                        <div class="form-row-last">
                            <button type="submit" class="register py-2"><i class="fas fa-paper-plane"></i> Enviar</button>
                        </div>

                        <!--<pre>{{subirContrato.value | json }}</pre>-->

                    </form>
                    
                </div>


            </div>
            
        </div>
    </div>
</div>
