<section class="contact-wizard">
    <div class="container">
        <div class="row pt-4">
          <div class="col">
            <div class="text-center">
              <img src="/assets/img/logo.png" class="img-fluid" alt="" style="width: 250px;">
              <p class="lead py-3">Completa el siguiente formulario para unirte a nuestro gran equipo</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center py-4">
            <div class="col-md-8 bg-light rounded shadow body-wizard">
                <form class="form-wizard" [formGroup] = "editarForm" (ngSubmit)="onUpdate(editarForm.value)">
                <nav>
                    <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="step1-tab" data-bs-toggle="tab" href="#step1"> <i class="fas fa-user-tie"></i> Paso 1</a>
                    <a class="nav-link" id="step2-tab" data-bs-toggle="tab" href="#step2"><i class="far fa-file-alt"></i> Paso 2</a>
                    <a class="nav-link" id="step3-tab" data-bs-toggle="tab" href="#step3"><i class="fas fa-user-tag"></i> Paso 3</a>
                    <a class="nav-link" id="step3-tab" data-bs-toggle="tab" href="#step4"><i class="fas fa-user-friends"></i> Paso 4</a>
                    </div>
                </nav>
                <div class="tab-content py-4">
    
                    <div class="tab-pane fade show active" id="step1">
                    <h4>Información personal</h4>
    
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label">Genero</label>
                                <select formControlName="sexo" class="form-control form-select">
                                    <option value="10">Masculino</option>
                                    <option value="20">Femenino</option>
                                </select>
                            </div>
                            <div class="col-6 px-0">
                                <label class="form-label">Fecha de nacimiento</label>
                                <input class="form-control" formControlName="fecha_nacimiento" type="date" value="" name="bdate" id="bdate">
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label">CURP</label>
                                <input type="text" class="form-control" formControlName="curp" placeholder="CURP">
                                <small class="form-text text-muted">¿No conoces tu CURP? obtenla <a href="https://www.gob.mx/curp/" target="_blank">aqui</a></small>
                            </div>
                            <div class="col">
                                <label class="form-label">RFC</label>
                                <input type="text" class="form-control" formControlName="rfc" placeholder="RFC">
                                <small class="form-text text-muted">¿No conoces tu RFC? obtenlo <a href="https://www54.sat.gob.mx/curp/Consult" target="_blank">aqui</a></small>
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <div class="col">
                                <label class="form-label">¿Tiene vacuna anti COVID-19?</label>
                                <select  class="form-control form-select" >
                                    <option value="1">Si</option>
                                    <option value="0">Aún no</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">¿Disponible para emergencias?</label>
                                <select class="form-control form-select">
                                    <option value="1">Si estoy disponible</option>
                                    <option value="0">No estoy disponible</option>
                                </select>
                                <small class="form-text text-muted">Situaciones críticas o emergencias fuera de horario</small>
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label">Elige una categoria que más se ajuste a tu oficio</label>
                                <select formControlName="categoria" class="form-control form-select">
                                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.name}}</option>
                                </select>  
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <label class="form-label">Cuentanos un poco más de ti</label>
                            <textarea class="form-control" formControlName="notas"  rows="3" placeholder="Nos gustaria saber de forma breve tu experiencia"></textarea>
                        </div>
                        
    
                    </div>    
    
                    <div class="tab-pane fade" id="step2">
                    <h4>Documentación</h4>
                    
                    <div *ngFor="let documento of documentos; let i = index;">
                        <div class=" mb-3">
                            <label class="form-label">{{documento.documento}}</label>
                            <!--<input 
                                    formControlName="file"
                                    id="{{documento.id}}" 
                                    type="file" 
                                    class="form-control"
                                    (change)="onFileChange($event, documento.id)">-->
                            <input 
                                    id="{{documento.id}}" 
                                    type="file" 
                                    class="form-control"
                                    (change)="onFileChange($event, documento.id)">        
                        </div>
    
                    </div>
    
                    </div>
    
                    <div class="tab-pane fade" id="step3">
                        <h4>Información de contacto</h4>
                        
                        <div class="row mb-3">
                            <div class="col-8">
                                <label class="form-label">Dirección</label>
                                <input type="text" class="form-control" formControlName="direccion" placeholder="">
                            </div>
                            <div class="col-2">
                                <label class="form-label">N° Int.</label>
                                <input type="text" class="form-control" formControlName="num_int" placeholder="">
                            </div>
                            <div class="col-2">
                                <label class="form-label">N° Ext.</label>
                                <input type="text" class="form-control" formControlName="num_ext" placeholder="">
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label">Colonia</label>
                                <input type="text" class="form-control"  placeholder="">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Ciudad</label>
                                <input type="text" class="form-control" formControlName="ciudad" placeholder="">
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label">Municipio</label>
                                <input type="text" class="form-control" formControlName="municipio" placeholder="">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Estado</label>
                                <select formControlName="estado" class="form-control form-select">
                                    <option value="">Selecciona un Estado</option>
                                    <option value="Aguascalientes">Aguascalientes</option>
                                    <option value="Baja California">Baja California</option>
                                    <option value="Baja California Sur">Baja California Sur</option>
                                    <option value="Campeche">Campeche</option>
                                    <option value="Chiapas">Chiapas</option>
                                    <option value="Chihuahua">Chihuahua</option>
                                    <option value="CDMX">Ciudad de México</option>
                                    <option value="Coahuila">Coahuila</option>
                                    <option value="Colima">Colima</option>
                                    <option value="Durango">Durango</option>
                                    <option value="Estado de México">Estado de México</option>
                                    <option value="Guanajuato">Guanajuato</option>
                                    <option value="Guerrero">Guerrero</option>
                                    <option value="Hidalgo">Hidalgo</option>
                                    <option value="Jalisco">Jalisco</option>
                                    <option value="Michoacán">Michoacán</option>
                                    <option value="Morelos">Morelos</option>
                                    <option value="Nayarit">Nayarit</option>
                                    <option value="Nuevo León">Nuevo León</option>
                                    <option value="Oaxaca">Oaxaca</option>
                                    <option value="Puebla">Puebla</option>
                                    <option value="Querétaro">Querétaro</option>
                                    <option value="Quintana Roo">Quintana Roo</option>
                                    <option value="San Luis Potosí">San Luis Potosí</option>
                                    <option value="Sinaloa">Sinaloa</option>
                                    <option value="Sonora">Sonora</option>
                                    <option value="Tabasco">Tabasco</option>
                                    <option value="Tamaulipas">Tamaulipas</option>
                                    <option value="Tlaxcala">Tlaxcala</option>
                                    <option value="Veracruz">Veracruz</option>
                                    <option value="Yucatán">Yucatán</option>
                                    <option value="Zacatecas">Zacatecas</option>
                                </select>
                            </div>
                            
                        </div>
    
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label">Código postal</label>
                                <input type="text" class="form-control" formControlName="codigo_postal" placeholder="">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Telefono de casa</label>
                                <input type="text" class="form-control" formControlName="telefono" placeholder="">
                            </div>
                        </div>
    
                    </div>
    
                    <div class="tab-pane fade" id="step4">
                        <h4>Referencias personales</h4>
    
                        <div class="row mb-3">
                            <h6>Referencia 1</h6>
                            <div class="col-6 mb-2">
                                <label for="form-label">Nombre completo</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col-6 mb-2">
                                <label for="form-label">Teléfono</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
    
                        <div class="row mb-3">
                            <h6>Referencia 2</h6>
                            <div class="col-6 mb-2">
                                <label for="form-label">Nombre completo</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col-6 mb-2">
                                <label for="form-label">Teléfono</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
    
                        <div class="form-row-last">
                            <button type="submit" class="register py-2"><i class="far fa-paper-plane"></i> Enviar</button>
                        </div>
                    
                    </div>
                
                <!--<div class="row justify-content-between">
                    <div class="col-auto"><button type="button" class="btn btn-secondary" data-enchanter="previous">Previous</button></div>
                    <div class="col-auto">
                    <button type="button" class="btn btn-primary" data-enchanter="next">Next</button>
                    <button type="submit" class="btn btn-primary" data-enchanter="finish">Finish</button>
                    </div>
                </div>-->
                
                </div>
                </form>
            </div>
        </div>
    </div>  
</section>
  