.form-cnt{font-family: 'Avenir LT Std', sans-serif;}

.bg-fixxi{
    background: #f49027;
}

.btn-fixxi{
    width: 180px;
    border: none;
    margin: 6px 0 50px;
    cursor: pointer;
    color: #ee7623;
    background-color: #fff;
    font-weight: 700;
    font-size: 15px;
}