<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading ">
            <a href="https://fixxiapp.com/" target="_blank">
                <img src="/assets/img/logo_web.png" class="img-fluid" alt="" style="width: 140px;">
            </a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action px-3" href="/dashboard/inicio">
                <i class="fas fa-fw fa-tachometer-alt"></i> 
                <span>Dashboard</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" href="/dashboard/mis-datos">
                <i class="fas fa-user-edit"></i> 
                <span>Mis datos</span>
            </a>

            <!-- Inicio Bloque solo visible a usuarios con status REGISTRADO -->
            <div *ngIf="checarStatus(estatus_del_usuario)">

                <!-- Divider -->
                <hr class="sidebar-divider">

                <a class="list-group-item list-group-item-action px-3" href="/dashboard/contratos">
                    <i class="far fa-file-alt"></i> 
                    <span>Contratos</span>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <a class="list-group-item list-group-item-action px-3" href="/dashboard/datos-bancarios">
                    <i class="fas fa-money-check-alt"></i> 
                    <span>Datos bancarios</span>
                </a>

            </div>

            <!-- Fin de bloque -->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" (click)="onLogout()">
                <i class="fas fa-sign-out-alt"></i> 
                <span>Salir</span>
            </a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
            <div class="container-fluid">
                <!--<button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" (click)="onLogout()">SALIR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4">Mis datos</h1>
            <!--<h1 class="mt-4">Completa tu registro</h1>-->


            <section class="h-100 h-custom">

                <div class="container py-2 h-100">

                  <div class="row d-flex justify-content-center align-items-center ">
                    
                    <div class="col-12">
                      
                        <div class="card card-registration card-registration-2 rounded-2 shadow-lg">
                            
                            <div class="card-body p-0 form-cnt">

                                <form class="form-detail" [formGroup]="updateUser" (ngSubmit)="onUpdate(updateUser.value)">    
                                    <div class="row g-0">

                                        <div class="col-lg-6">
                                            <div class="p-4">
                                                <h3 class="fw-normal mb-4">Infomación personal</h3>
                            
                                                <div class="row mb-4">
                                                    <div class="col-md-6">
                                                        <div class="text-center">
                                                            <img alt="Imagen de perfil" [src]="prev_avatar" class="rounded-circle img-responsive mt-2" width="128" height="128" />
                                                            <!--<p>{{prev_avatar}}</p>-->
                                                            <div class="mt-2">
                                                                <label for="file" class="btn btn-primary"><i class="fas fa-upload"></i> Foto de perfil</label>
                                                                <input type="file" id="file" (change)="onavatarchange($event)" hidden>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-12 mb-2">
                                                                <label class="form-label">Nombre(s)</label>
                                                                <input type="text" class="form-control" formControlName="nombre" placeholder="" readonly>
                                                            </div>
                                                            <div class="col-12 mb-2">
                                                                <label class="form-label">Apellidos</label>
                                                                <input type="text" class="form-control" formControlName="apellidos" placeholder="" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <label class="form-label">Genero</label>
                                                        <select formControlName="sexo" class="form-control form-select">
                                                            <option value="10">Masculino</option>
                                                            <option value="20">Femenino</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-6 px-0">
                                                        <label class="form-label">Fecha de nacimiento</label>
                                                        <input class="form-control" formControlName="fecha_nacimiento" type="date" value="" name="bdate" id="bdate">
                                                    </div>
                                                </div>
                
                                                <ng-container formArrayName="files">
                                                    <div *ngFor="let documento of documentos; let i = index;">
                                                        <div class="col mb-3">
                                                            <label class="form-label">{{documento.documento}}</label>
                                                            <input 
                                                                    id="{{documento.id}}" 
                                                                    type="file" 
                                                                    class="form-control"
                                                                    (change)="onFileChange($event, documento.id)">
                                                            <div *ngFor="let file of files_recibidos">
                                                                <div *ngIf="file.tipo_id == documento.id">
                                                                    <a href="https://dashboard.fixxiapp.com/web/uploads/files/{{file.title_original}}" 
                                                                       class="btn btn-primary mt-1" 
                                                                       style="font-size: .8em;" 
                                                                       target="_blank">Ver Archivo</a>
                                                                </div>
                                                            </div>                
                                                        </div>
                                                        
                                                    </div>
                                                </ng-container>
                
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <label class="form-label">CURP</label>
                                                        <input type="text" class="form-control" formControlName="curp" placeholder="CURP" >
                                                        <small class="form-text text-muted">¿No conoces tu CURP? obtenla <a href="https://www.gob.mx/curp/" target="_blank">aqui</a></small>
                                                        <div *ngIf="updateUser.get('curp').errors?.pattern">
                                                            <small class="text-danger" style="font-size: .8rem;">
                                                              No es un CURP válido
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <label class="form-label">RFC</label>
                                                        <input type="text" class="form-control" formControlName="rfc" placeholder="RFC">
                                                        <small class="form-text text-muted">¿No conoces tu RFC? obtenlo <a href="https://www54.sat.gob.mx/curp/Consult" target="_blank">aqui</a></small>
                                                        <div *ngIf="updateUser.get('rfc').errors?.pattern">
                                                            <small class="text-danger" style="font-size: .8rem;">
                                                              No es un RFC válido
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <label class="form-label">¿Tiene vacuna anti COVID-19?</label>
                                                        <select formControlName="vacunacion" class="form-control form-select">
                                                            <option value="1">Si</option>
                                                            <option value="0">Aún no</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label class="form-label">¿Disponible para emergencias?</label>
                                                        <select formControlName="disponible_fuera_horario" class="form-control form-select">
                                                            <option value="1">Si estoy disponible</option>
                                                            <option value="0">No estoy disponible</option>
                                                        </select>
                                                        <small class="form-text text-muted">Situaciones críticas o emergencias fuera de horario</small>
                                                    </div>
                                                </div>
                
                                                <div class="row mb-3">
                                                    <label class="form-label">Cuentanos un poco más de ti</label>
                                                    <textarea class="form-control" formControlName="notas"  rows="3" placeholder="Nos gustaria saber de forma breve tu experiencia (máximo 200 caracteres)"></textarea>
                                                    <!--<small>{{ this.updateUser.get('notas').value.length }}/200</small>-->
                                                    <small class="text-danger" *ngIf="updateUser.get('notas').hasError('maxlength')" style="font-size: .8rem;">
                                                        El número máximo de caracteres es 200
                                                    </small>
                                                </div>
                            
                                            </div>
                                        </div>
                                        <div class="col-lg-6 bg-fixxi text-white">
                                            <div class="p-4">
                                                <h3 class="fw-normal mb-4">Información de contacto</h3>
                                                
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <label class="form-label">Teléfono movil</label>
                                                        <input type="text" class="form-control" formControlName="telefono_movil" >
                                                        <div *ngIf="updateUser.get('telefono_movil').errors?.maxlength">
                                                            <small class="text-danger" style="font-size: .8rem;">
                                                                El teléfono es de máximo 10 números
                                                            </small>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <label class="form-label">Correo electrónico</label>
                                                        <input type="email" class="form-control" formControlName="email">
                                                        <div *ngIf="updateUser.get('email').errors?.email">
                                                            <small class="text-danger" style="font-size: .8rem;">
                                                              No es un email válido
                                                            </small>
                                                        </div>  
                                                    </div>
                                                </div>
                
                                                <div class="row mb-3">
                                                    <div class="col-8">
                                                        <label class="form-label">Dirección</label>
                                                        <input type="text" class="form-control" formControlName="direccion" placeholder="">
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="form-label">N° Int.</label>
                                                        <input type="text" class="form-control" formControlName="num_int" placeholder="">
                                                    </div>
                                                    <div class="col-2">
                                                        <label class="form-label">N° Ext.</label>
                                                        <input type="text" class="form-control" formControlName="num_ext" placeholder="">
                                                    </div>
                                                </div>
                
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <label class="form-label">Colonia</label>
                                                        <input type="text" class="form-control" formControlName="colonia"  placeholder="">
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label">Ciudad</label>
                                                        <input type="text" class="form-control" formControlName="ciudad" placeholder="">
                                                    </div>
                                                </div>
                
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <label class="form-label">Municipio</label>
                                                        <input type="text" class="form-control" formControlName="municipio" placeholder="">
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label">Estado</label>
                                                        <select formControlName="estado" class="form-control form-select">
                                                            <option value="">Selecciona un Estado</option>
                                                            <option value="Aguascalientes">Aguascalientes</option>
                                                            <option value="Baja California">Baja California</option>
                                                            <option value="Baja California Sur">Baja California Sur</option>
                                                            <option value="Campeche">Campeche</option>
                                                            <option value="Chiapas">Chiapas</option>
                                                            <option value="Chihuahua">Chihuahua</option>
                                                            <option value="CDMX">Ciudad de México</option>
                                                            <option value="Coahuila">Coahuila</option>
                                                            <option value="Colima">Colima</option>
                                                            <option value="Durango">Durango</option>
                                                            <option value="Estado de México">Estado de México</option>
                                                            <option value="Guanajuato">Guanajuato</option>
                                                            <option value="Guerrero">Guerrero</option>
                                                            <option value="Hidalgo">Hidalgo</option>
                                                            <option value="Jalisco">Jalisco</option>
                                                            <option value="Michoacán">Michoacán</option>
                                                            <option value="Morelos">Morelos</option>
                                                            <option value="Nayarit">Nayarit</option>
                                                            <option value="Nuevo León">Nuevo León</option>
                                                            <option value="Oaxaca">Oaxaca</option>
                                                            <option value="Puebla">Puebla</option>
                                                            <option value="Querétaro">Querétaro</option>
                                                            <option value="Quintana Roo">Quintana Roo</option>
                                                            <option value="San Luis Potosí">San Luis Potosí</option>
                                                            <option value="Sinaloa">Sinaloa</option>
                                                            <option value="Sonora">Sonora</option>
                                                            <option value="Tabasco">Tabasco</option>
                                                            <option value="Tamaulipas">Tamaulipas</option>
                                                            <option value="Tlaxcala">Tlaxcala</option>
                                                            <option value="Veracruz">Veracruz</option>
                                                            <option value="Yucatán">Yucatán</option>
                                                            <option value="Zacatecas">Zacatecas</option>
                                                        </select>
                                                    </div>
                                                    
                                                </div>
                
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <label class="form-label">Código postal</label>
                                                        <input type="text" class="form-control" formControlName="codigo_postal" placeholder="">
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-label">Telefono de casa</label>
                                                        <input type="text" class="form-control" formControlName="telefono" placeholder="">
                                                        <div *ngIf="updateUser.get('telefono').errors?.maxlength">
                                                            <small class="text-danger" style="font-size: .8rem;">
                                                                El teléfono es de máximo 10 números
                                                            </small>
                                                        </div>
                                                    </div>    
                                                </div>
                
                                                <h5>Referencias personales</h5>
                                                
                                                <ng-container formArrayName="referencias">
                                                    <div *ngFor="let value of updateUser.get('referencias')['controls']; let i = index">
                                                        <div [formGroupName]="i">
                                                            <div class="col mb-3">
                                                                <h6>Referencia {{i+1}}</h6>
                                                                <div class="col-12 mb-2">
                                                                    <label for="form-label">Nombre completo</label>
                                                                    <input type="text" class="form-control" formControlName="nombre" placeholder="">
                                                                </div>
                                                                <div class="col-12 mb-2">
                                                                    <label for="form-label">Teléfono</label>
                                                                    <input type="text" class="form-control" formControlName="telefono" placeholder="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>

                                                
                                                <div class="row mb-3">
                                                    <div class="col-12 mb-3">
                                                        <label class="form-label">Selecciona la categoria que más se ajuste a tu oficio</label>
                                                        <!--Using ng-option and for loop-->
                                                        <ng-select [(ngModel)]="nombreCat"  [multiple]="true" placeholder="Seleccionar Categoria" formControlName="categoria">
                                                            <ng-option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.name}}</ng-option>
                                                        </ng-select>
                                                        <!--<p class="py-3">{{nombreCat}}</p>-->
                                                        <!--<p class="py-3">Categoria en la que estas registrado: {{selectedCat}}</p>-->
                                                    </div>
                                                </div>
                                                <!--<p>Form Status: {{ updateUser.status }}</p>-->
                                                <button type="submit" class="btn btn-fixxi rounded-pill shadow-sm py-2"><i class="fas fa-sync-alt"></i> Actualizar</button>

                                                <!-- Esta línea es para ver que datos se guardan -->
                                                <!--<pre>{{updateUser.value | json }}</pre>-->

                                            </div>

                                        </div>
                                            

                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>

                  </div>

                </div>

            </section>

        </div>
    </div>
</div>

<div class="float_buttons_div">
    <!--<ul class="icons_list">
        <li>
            <a href="mailto:contact@localpost.com.mx"><i class="phone-icon fa fa-envelope fa-lg"></i></a>
        </li>
    </ul>-->  
    <ul class="icons_list">
        <li>
            <a href="https://wa.link/81r4jb" target="_blank" class="btn-icon">¿Necesitas ayuda?<br> Whatsapp 656 606 9983</a>
        </li>
    </ul>  
</div>