<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading ">
            <a href="https://fixxiapp.com/" target="_blank">
                <img src="/assets/img/logo_web.png" class="img-fluid" alt="" style="width: 140px;">
            </a>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action px-3" href="/dashboard/inicio">
                <i class="fas fa-fw fa-tachometer-alt"></i> 
                <span>Dashboard</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" href="/dashboard/mis-datos">
                <i class="fas fa-user-edit"></i> 
                <span>Mis datos</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" href="/dashboard/contratos">
                <i class="far fa-file-alt"></i> 
                <span>Contratos</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" href="/dashboard/datos-bancarios">
                <i class="fas fa-money-check-alt"></i> 
                <span>Datos bancarios</span>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <a class="list-group-item list-group-item-action px-3" (click)="onLogout()">
                <i class="fas fa-sign-out-alt"></i> 
                <span>Salir</span>
            </a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
            <div class="container-fluid">
                <!--<button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" (click)="onLogout()">SALIR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid dash-content">
            <div class="row py-2">

                <div class="col-md-8">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">¡Recuerda!</h4>
                        <p>En el siguiente formulario coloca tus datos bancarios para que nosotros podamos transferirte los montos correspondientes
                            a cada uno de los trabajos que has realizado.
                        </p>
                        <hr>
                        <p class="mb-0">Revisa que tus datos sean los correctos.</p>
                      </div>
                </div>

                <div class="col-md-8">

                    <form class="bg-white rounded shadow-lg p-4 form-data-bank" [formGroup]="updateDataBankform" (ngSubmit)="onUpdate(updateDataBankform.value)">

                        <h3 class="my-1">Mis datos bancarios</h3>

                        <ng-container  formGroupName="datos_bancarios">

                            <div class="row mb-3">
                                <div class="col-12">
                                    <label class="form-label">Nombre del titular</label>
                                    <input type="text" class="form-control" formControlName="nombre_titular" placeholder="">
                                </div>
                            </div>
    
                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">Nombre del banco</label>
                                    <select formControlName="banco" class="form-control form-select">
                                        <option value="ABC Capital" selected>ABC Capital</option>
                                        <option value="American Express Bank (Mexico)">American Express Bank (Mexico)</option>
                                        <option value="Banca Afirme">Banca Afirme</option>
                                        <option value="Banca Mifel">Banca Mifel</option>
                                        <option value="Banco Actinver">Banco Actinver</option>
                                        <option value="Banco Autofin México">Banco Autofin México</option>
                                        <option value="Banco Azteca">Banco Azteca</option>
                                        <option value="Banco Bancrea">Banco Bancrea</option>
                                        <option value="Banco Base">Banco Base</option>
                                        <option value="Banco Compartamos">Banco Compartamos</option>
                                        <option value="Banco Credit Suisse (México)">Banco Credit Suisse (México)</option>
                                        <option value="Banco de Inversión Afirme">Banco de Inversión Afirme</option>
                                        <option value="Banco del Bajío">Banco del Bajío</option>
                                        <option value="Banco Finterra">Banco Finterra</option>
                                        <option value="Banco Forjadores">Banco Forjadores</option>
                                        <option value="Banco Inbursa">Banco Inbursa</option>
                                        <option value="Banco Inmobiliario Mexicano">Banco Inmobiliario Mexicano</option>
                                        <option value="Banco Invex">Banco Invex</option>
                                        <option value="Banco JP Morgan">Banco JP Morgan</option>
                                        <option value="Banco KEB Hana México">Banco KEB Hana México</option>
                                        <option value="Banco Monex">Banco Monex</option>
                                        <option value="Banco Multiva">Banco Multiva</option>
                                        <option value="Banco PagaTodo">Banco PagaTodo</option>
                                        <option value="Banco Regional de Monterrey">Banco Regional de Monterrey</option>
                                        <option value="Banco S3 Caceis México">Banco S3 Caceis México</option>
                                        <option value="Banco Sabadell">Banco Sabadell</option>
                                        <option value="Banco Santander">Banco Santander</option>
                                        <option value="Banco Shinhan de México">Banco Shinhan de México</option>
                                        <option value="Banco Ve por Más">Banco Ve por Más</option>
                                        <option value="BanCoppel">BanCoppel</option>
                                        <option value="Bank of America Mexico">Bank of America Mexico</option>
                                        <option value="Bank of China Mexico">Bank of China Mexico</option>
                                        <option value="Bankaool">Bankaool</option>
                                        <option value="Banorte">Banorte</option>
                                        <option value="Bansí">Bansí</option>
                                        <option value="Barclays Bank México">Barclays Bank México</option>
                                        <option value="BBVA">BBVA</option>
                                        <option value="BNP Paribas">BNP Paribas</option>
                                        <option value="Citibanamex">Citibanamex</option>
                                        <option value="CIBanco">CIBanco</option>
                                        <option value="Consubanco">Consubanco</option>
                                        <option value="Deutsche Bank México">Deutsche Bank México</option>
                                        <option value="Fundación Dondé Banco">Fundación Dondé Banco</option>
                                        <option value="HSBC México">HSBC México</option>
                                        <option value="Industrial and Commercial Bank of China">Industrial and Commercial Bank of China</option>
                                        <option value="Intercam Banco">Intercam Banco</option>
                                        <option value="Mizuho Bank">Mizuho Bank</option>
                                        <option value="MUFG Bank Mexico">MUFG Bank Mexico</option>
                                        <option value="Scotiabank">Scotiabank</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label">Número de Cuenta</label>
                                    <input type="text" class="form-control" formControlName="cuenta_tarjeta" placeholder="">
                                    <div *ngIf="updateDataBankform.controls.datos_bancarios.get('cuenta_tarjeta').errors?.maxlength">
                                        <small class="text-danger" style="font-size: .8rem;">
                                            Tu número de cuenta no puede tener mas de 18 números
                                        </small>
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-row-last">
                                <button type="submit" class="register py-2"><i class="fas fa-paper-plane"></i> Enviar</button>
                            </div>

                            <!--<pre>{{updateDataBankform.value | json }}</pre>-->

                        </ng-container>

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>