<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" alt="" class="img-fluid logo-image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login">INGRESAR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <div class="form-v2-content">
                <div class="form-left">
                    <img src="/assets/img/form-v2.jpg" alt="form">
                    <div class="text-1">
                        <p>Registrate al más grande equipo de trabajo</p>
                    </div>
                    <div class="text-2">
                        <p>¡Sin costo!</p>
                    </div>
                </div>
                <form [formGroup]="signUpform" (ngSubmit)="onSignup(signUpform.value)" class="form-detail">   
                    <h2>Únete ahora, estás a un paso de incrementar tus oportunidades de crecimiento</h2>
        
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre(s)">
                        <div *ngIf ="signUpform.get('nombre').errors && signUpform.get('nombre').touched">
                          <small *ngIf ="signUpform.get('nombre').hasError('required')" class="text-danger" style="font-size: .8rem;">
                            Es un campo requerido
                          </small>
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos">
                        <div *ngIf ="signUpform.get('apellidos').errors && signUpform.get('apellidos').touched">
                          <small *ngIf ="signUpform.get('apellidos').hasError('required')" class="text-danger" style="font-size: .8rem;">
                            Es un campo requerido
                          </small>
                        </div>
                    </div>
        
                    <div class="row mb-3">
                        <div class="col">
                          <input type="text" class="form-control" formControlName="telefono_movil" placeholder="Teléfono de contacto" style="width: 91%;">
                          <!--<small>{{ this.signUpform.get('telefono_movil').value.length }}/10</small>-->
                          <div *ngIf="signUpform.get('telefono_movil').errors && signUpform.get('telefono_movil').touched">
                            <p *ngIf="signUpform.get('telefono_movil').hasError('required')">
                              Es un campo requerido
                            </p>
                            <small class="text-danger" *ngIf="signUpform.get('telefono_movil').hasError('maxlength')" style="font-size: .8rem;">
                              El teléfono es de máximo 10 números
                            </small>
                          </div>
                        </div>
                        <div class="col px-0">
                          <input type="email" class="form-control" formControlName="email" placeholder="Email" style="width: 91%;">
                          <div *ngIf ="signUpform.get('email').errors && signUpform.get('email').touched">
                            <small *ngIf ="signUpform.get('email').hasError('required')" class="text-danger" style="font-size: .8rem;">
                              Es un campo requerido
                            </small>
                          </div>
                          <div *ngIf="signUpform.get('email').errors?.email">
                            <small class="text-danger" style="font-size: .8rem;">
                              No es un email válido
                          </small>
                          </div>
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <input type="password" class="form-control" formControlName="password" placeholder="Elige una contraseña">
                        <div *ngIf ="signUpform.get('password').errors && signUpform.get('password').touched">
                          <small *ngIf ="signUpform.get('password').hasError('required')" class="text-danger" style="font-size: .8rem;">
                            Es un campo requerido
                          </small>
                        </div>
                    </div>
        
        
                    <div class="form-checkbox mt-4">
                        <label class="container"><p>He leído el <br><a href="../../assets/docs/Aviso-Privacidad-Fixxi.pdf" target="_blank" class="text">AVISO DE PRIVACIDAD</a></p>
                            <input type="checkbox" name="agree" id="agree" formControlName="TCAccepted">
                            <span class="checkmark"></span>
                        </label>
                        <div *ngIf="signUpform.get('TCAccepted').invalid && signUpform.get('TCAccepted').touched">
                          <small class="text-danger" style="font-size: .8rem;">
                              Porfavor acepte los terminos y condiciones
                          </small>
                        </div>
                    </div>
        
                    <div class="form-row-last">
                        <!--<p>Form Status: {{ signUpform.status }}</p>-->
                        <button type="submit" class="register" [disabled]="signUpform.invalid">Registrate</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </header>