/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/
@font-face {
    font-family: 'Futura Bold BT';
    src: url('/assets/fonts/FuturaBT-Bold.eot');
    src: url('/assets/fonts/FuturaBT-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FuturaBT-Bold.woff2') format('woff2'),
        url('/assets/fonts/FuturaBT-Bold.woff') format('woff'),
        url('/assets/fonts/FuturaBT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Regular BT';
    src: url('/assets/fonts/FuturaBT-Medium.eot');
    src: url('/assets/fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('/assets/fonts/FuturaBT-Medium.woff') format('woff'),
        url('/assets/fonts/FuturaBT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    /*src: url('AvenirLTStd-Roman.eot');*/
    src: url('/assets/fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('/assets/fonts/AvenirLTStd-Roman.woff') format('woff'),
        url('/assets/fonts/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.logo-image {
    width: 125px;
    margin-top: 0px;
}

.nav-link{
    font-family: 'Futura Bold BT', sans-serif;
    color: #EE7623!important;
    font-size: 1em;
    text-transform: uppercase;
    /*letter-spacing: 1px;*/
}

.btn-primary {
    color: #fff;
    background-color: #EE7623!important;
    border-color: #EE7623!important;
}


/** Signup Page **/
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/** Pagina login **/
.login,
.image {
  min-height: 100vh;
}

.login .display-4{
    font-family: 'Futura Bold BT', sans-serif;
    color: #EE7623;
}

.bg-image {
    background-image: url('/assets/img/login_img.jpg');
    background-size: cover;
    background-position: center center;
}

.form-v2-content  {
	background: #fff;
	width: 930px;
	border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin: 40px 0;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.form-v2-content .form-left {
	margin-bottom: -4px;
	position: relative;
}
.form-v2-content .form-left img {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.form-v2-content .form-left .text-1,
.form-v2-content .form-left .text-2 {
	font-family: 'Futura Bold BT', sans-serif;
	font-weight: 700;
    font-style: italic;
	color: #fff;
}
.form-v2-content .form-left .text-1 {
	position: absolute;
    left: 9%;
    bottom: 15%;
}
.form-v2-content .form-left .text-2 {
	position: absolute;
    right: 8%;
    bottom: 1.5%;
}
.form-v2-content .form-left .text-1 p {
	font-size: 32px;
	line-height: 1.67;
}
.form-v2-content .form-left .text-1 span {
	font-size: 25px;
	display: block;
}
.form-v2-content .form-left .text-2 p {
	font-size: 18px;
}
.form-v2-content .form-left .text-2 span {
	font-size: 35px;
	padding-right: 9px;
}
.form-v2-content .form-detail {
    padding: 20px 40px 20px 40px;
	position: relative;
	width: 100%;
}
.form-v2-content .form-detail h2 {
	font-family: 'Futura Regular BT', sans-serif;
	font-weight: 700;
	color: #333;
	font-size: 28px;
	position: relative;
	padding: 6px 0 0;
	margin-bottom: 25px;
}
.form-v2-content .form-row {
    width: 100%;
    position: relative;
}
.form-v2-content .form-detail label {
	font-family: 'Futura Bold BT', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666;
	display: block;
	margin-bottom: 11px;
}
.form-v2-content .form-detail .form-row label#valid {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #53c83c;
}
.form-v2-content .form-detail .form-row label#valid::after {
	content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-v2-content .form-detail .form-row label.error {
	padding-left: 0;
	margin-left: 0;
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    background: none;
    color: red;
}
.form-v2-content .form-detail .form-row label.error::after {
    content: "\f343";
    font-family: "LineAwesome";
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    right: 10px;
    top: -31px;
    color: red;
    font-size: 18px;
    font-weight: 900;
}
.form-v2-content .form-detail .input-text {
	margin-bottom: 27px;
}
.form-v2-content .form-detail input {
	width: 97%;
    padding: 14.5px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 16px;
    color: #333;
}
.form-v2-content .form-detail .form-row input:focus {
	border: 1px solid #53c83c;
}
.form-v2-content .form-detail input[type="radio"] {
	outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    -o-appearance: none;
    -ms-appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
  	width: 20px;
  	height: 20px;
  	padding:  4px;
  	background-clip: content-box;
  	border: 1px solid #e5e5e5;
  	background-color: #fff;
  	border-radius: 50%;
  	-o-border-radius: 50%;
  	-ms-border-radius: 50%;
  	-moz-border-radius: 50%;
  	-webkit-border-radius: 50%;
  	cursor: pointer;
  	float: left;
  	margin-top: 0;
}
.form-v2-content .form-detail .form-checkbox {
	width: 80%;
	margin-top: -17px;
	position: relative;
}
.form-v2-content .form-detail .form-checkbox input {
    position: absolute;
    opacity: 0;
}
.form-v2-content .form-detail .form-checkbox .checkmark {
    position: absolute;
    top: 20px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.form-v2-content .form-detail .form-checkbox .checkmark::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #385cb9;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-v2-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.form-v2-content .form-detail .form-checkbox p {
    margin-left: 35px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Futura Regular BT', sans-serif;
    line-height: 1.67;
}
.form-v2-content .form-detail .form-checkbox a {
	font-weight: 500;
	color: #EE7623;
	text-decoration: underline;
}
.form-v2-content .form-detail .register {
	background: #EE7623;
	border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 180px;
	border: none;
	margin: 6px 0 20px 0px;
	cursor: pointer;
	font-family: 'Futura Regular BT', sans-serif;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
}
.form-v2-content .form-detail button{
    padding: 15.5px;
    background: #EE7623;
    border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 160px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
    color: #fff;
    font-family: 'Futura Regular BT', sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.form-v2-content .form-detail .register:hover {
	background: #be5e1c;
}
.form-v2-content .form-detail .form-row-last input {
	padding: 15.5px;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
    font-size: 14px;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    font-size: 14px;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: #999;
    font-size: 14px;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: #999;
    font-size: 14px;
  }

/* Responsive */
@media screen and (max-width: 991px) {
    .form-v2-content {
        margin: 180px 20px;
        flex-direction:  column;
        -o-flex-direction:  column;
        -ms-flex-direction:  column;
        -moz-flex-direction:  column;
        -webkit-flex-direction:  column;
    }
    .form-v2-content .form-left {
        width: 100%;
    }
    .form-v2-content .form-left img {
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
    }
    .form-v2-content .form-detail {
        padding: 30px 20px 30px 20px;
        width: auto;
    }
    .form-v2-content .form-detail .form-row input {
        width: 95%;
    }
    .form-v2-content .form-detail .form-checkbox {
        width: 100%;
    }
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
    font-size: 14px;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    font-size: 14px;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: #999;
    font-size: 14px;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: #999;
    font-size: 14px;
  }

@media screen and (max-width: 575px) {
    .form-v2-content .form-detail .form-row input {
        width: 89.5%;
    }
}

/** Formulario registro completo - Mis datos**/
.form-v10-content  {
	background: #fff;
	width: 1100px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 5px 0;
	position: relative;
    font-family: 'Futura Regular BT', sans-serif;
}

.form-v10-content .form-detail {
	position: relative;
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.form-v10-content .form-detail h2 {
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 34px;
	padding: 33px 50px 0px 10px;
}
.form-v10-content .form-detail .form-left {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
    padding: 0 20px;
}
.form-v10-content .form-detail .form-left h2 {
	color: #EE7623;
}
.form-v10-content .form-detail .form-left h5 {
	color: #EE7623;
}
.form-v10-content .form-detail .form-right {
	width: 100%;
	background: #F49027;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
    padding: 0 20px;
}
.form-v10-content .form-detail .form-right label {
	color: #fff;
}
.form-v10-content .form-detail .form-right h2 {
	color: #fff;
}
.form-v10-content .form-detail .form-right h5 {
	color: #fff;
}
.form-v10-content .form-detail .form-right h6 {
	color: #fff;
}
/*.form-v10-content .form-detail .form-group {
	display: flex;
	display: -webkit-flex;
}*/
.form-v10-content .form-detail .form-row {
	position: relative;
	margin-bottom: 24px;
	padding-left: 60px;
    padding-right: 50px;
}

.form-v10-content .form-detail .form-right .form-control {
	background-color: transparent;
}

.form-v10-content .form-detail .form-left select {
	color: #666;
}
.form-v10-content .form-detail .form-right select {
	color: #f2f2f2;
}
.form-v10-content .form-detail .select-btn {
	z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 18px;
}
.form-v10-content .form-detail .form-left .select-btn {
    color: #666;
}
.form-v10-content .form-detail .form-right .select-btn {
    color: #f2f2f2;
}
.form-v10-content .form-detail .form-group .form-row.form-row-4 .select-btn {
	top: 20%;
	right: 26%;
}
.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
	top: 20%;
	right: 19%;
}
.form-v10-content .form-detail .form-left input {
	color: #000;
}
.form-v10-content .form-detail .form-right input {
	color: #fff;
}
.form-v10-content .form-detail .form-left input,
.form-v10-content .form-detail .form-left select {
	border-bottom: 1px solid #ccc;
}
.form-v10-content .form-detail .form-left input:focus,
.form-v10-content .form-detail .form-left select:focus {
	border-bottom: 1px solid #999;
}
.form-v10-content .form-detail .form-right input,
.form-v10-content .form-detail .form-right select {
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}
.form-v10-content .form-detail .form-right input:focus,
.form-v10-content .form-detail .form-right select:focus {
	border-bottom: 1px solid #ccc;
}
.form-v10-content .form-detail .form-right select option {
	background: #F49027;
}
.form-v10-content .form-detail .form-checkbox {
	margin-top: 37px;
	padding: 0 50px 0 60px;
	position: relative;
}
.form-v10-content .form-detail .form-checkbox input {
	position: absolute;
    opacity: 0;
}
.form-v10-content .form-detail .form-checkbox .checkmark {
	position: absolute;
    top: 1px;
    left: 60px;
    height: 15px;
    width: 15px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
.form-v10-content .form-detail .form-checkbox .checkmark::after {
	content: "";
    position: absolute;
    left: 5px;
   	top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.form-v10-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 400;
}
.form-v10-content .form-detail .form-checkbox .text {
	font-weight: 400;
	color: #fff;
	text-decoration: underline;
}
.form-v10-content .form-detail .form-right .form-row-last {
    /*padding-left: 60px;*/
    margin: 44px 0 10px;
}
.form-v10-content .form-detail .form-right .register {
	background: #fff;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 180px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #EE7623;
	font-weight: 700;
	font-size: 15px;
}
.form-v10-content .form-detail .form-right .register:hover {
	background: #ccc;
}
.form-v10-content .form-detail .form-right .form-row-last input {
	padding: 12.5px;
}
.form-v10-content .form-detail .form-left input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
  font-size: 16px;
}
.form-v10-content .form-detail .form-left input::-moz-placeholder { /* Firefox 19+ */
  color: #666;
  font-size: 16px;
}
.form-v10-content .form-detail .form-left input:-ms-input-placeholder { /* IE 10+ */
  color: #666;
  font-size: 16px;
}
.form-v10-content .form-detail .form-left input:-moz-placeholder { /* Firefox 18- */
  color: #666;
  font-size: 16px;
}
.form-v10-content .form-detail .form-right input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f2f2f2;
  font-size: 16px;
}
.form-v10-content .form-detail .form-right input::-moz-placeholder { /* Firefox 19+ */
  color: #f2f2f2;
  font-size: 16px;
}
.form-v10-content .form-detail .form-right input:-ms-input-placeholder { /* IE 10+ */
  color: #f2f2f2;
  font-size: 16px;
}
.form-v10-content .form-detail .form-right input:-moz-placeholder { /* Firefox 18- */
  color: #f2f2f2;
  font-size: 16px;
}

/** Formulario multi step **/
.contact-wizard{
    /*height: 100vh;*/
    min-height: 900px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Futura Regular BT,sans-serif;
}

.body-wizard{
    padding: 2.3em 2em;
}

.form-wizard .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #ee7623;
}

.form-wizard .register {
	background: #EE7623;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 180px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #FFF;
	font-weight: 700;
	font-size: 15px;
}

.form-data-bank{font-family: 'Futura Regular BT', sans-serif;}

.form-data-bank .register {
	background: #F49027;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 180px;
	border: none;
	margin: 6px 0 20px 0px;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
}
.form-data-bank .register:hover {
	background: #EE7623;
}


/** Dashboard **/
.dash-content h3{
    font-family: 'Avenir LT Std', sans-serif;   
}
.dash-content p{
  font-family: 'Avenir LT Std', sans-serif;   
}

#wrapper {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }

  .list-group-item {
    background-color: transparent;
    font-family: 'Avenir LT Std';
    color: #fff;
    border: none;
  }

  .list-group-item:hover {
    color: #e1e1e1;
  }

  .list-group-item i {
    font-size: .85rem;
    margin-right: .35rem;
  }

  .list-group-item span{
    font-size: .85rem;
    display: inline;
  }

  .list-group-item-action:hover {
    background-color: transparent;
}

hr.sidebar-divider {
    border-top: 1px solid #ffffffd9;
    margin: 0 1rem 1rem;
}
  
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
        background-color: #f49027;
        background-image: linear-gradient(180deg,#f49027 10%,#ee7623);
        background-size: cover;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  /** Mensaje Flotante **/
  .float_buttons_div {
    position: fixed;
    bottom: 15px;
    left: 10px;
    background-color: #128C7E;
    border: 1px solid #128C7E;
    -webkit-box-shadow: 2px 2px 10px 1px #333;
            box-shadow: 2px 2px 10px 1px #333;
    border-radius: 5px;
  }
  
  .float_buttons_div li {
    list-style: none;
    margin: 15px 0px;
  }
  
  .float_buttons_div li a i {
    text-decoration: none;
    padding: 0.9em;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.4s;
  }
  
  .float_buttons_div .phone-icon {
    background-color: #092F57;
    border: 1px solid #092F57;
    
  }
  
  .float_buttons_div .btn-icon {
    padding: .3em 1em;
    color: #FAFAFA;
    font-family: 'Avenir LT Std', sans-serif;
    font-weight: 500;
    text-decoration: none;
  }
  
  .float_buttons_div .fa-lg {
    line-height: .95em;
    vertical-align: -15%;
  }

  @media  (max-width: 480px){
    .float_buttons_div{
      display: none;
    }
    
  }